.vertical__animation__container{
    font-family: "Poppins", sans-serif;
    font-size: 5px;
    font-weight: 600;
    /* margin: 10px */
}

.vertical__animation__words{
    background-color: white;
    height: 100px;
    display: inline-block;
}

@keyframes spin_words{
    0%{
        /* transform: translateY(-72px); */
        opacity:0;
        transform: translateY(-72px);
    }
    2%{
        opacity:1;
        transform: translateY(10px);
    }
    28%{
        /* transform: translateY(-144px); */
        opacity:1;
        transform: translateY(0px);
    }
    30%{
        /* transform: translateY(-216px); */
        opacity:0;
        transform: translateY(72px);
    }
    100%{
        opacity: 0;
        transform: translateY(72px);
    }
}

.vertical__animation__horizontal__component{
    position: absolute;
    height: 100%;
    overflow: hidden;
    animation: spin_words 18s linear infinite;
    opacity: 0;
    width: 700px
}


.vertical__animation__horizontal__component:nth-child(1){
    animation-delay: 0s;
}
.vertical__animation__horizontal__component:nth-child(2){
    animation-delay: 6s;
}
.vertical__animation__horizontal__component:nth-child(3){
    animation-delay: 12s;
}


